HOMEWORK 2 - Heather Turcios

# Solution for Exercise 2.5

In [2]:
temperatures = [-5.4, 1.0, -1.3, -4.8, 3.9, 0.1, -4.4, 4.0, -2.2, -3.9, 4.4,
                -2.5, -4.6, 5.1, 2.1, -2.4, 1.9, -3.3, -4.8, 1.0, -0.8, -2.8,
                -0.1, -4.7, -5.6, 2.6, -2.7, -4.6, 3.4, -0.4, -0.9, 3.1, 2.4,
                1.6, 4.2, 3.5, 2.6, 3.1, 2.2, 1.8, 3.3, 1.6, 1.5, 4.7, 4.0,
                3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8,
                4.0, 8.6, 4.1, 1.4, 8.9, 3.0, 1.6, 8.5, 4.7, 6.6, 8.1, 4.5,
                4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6,
                -0.0, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]

In [3]:
cold = []
slippery = []
comfortable = []
warm = []
for temperature in temperatures:
    if temperature < -2:
        cold.append(temperature)
    elif temperature >= 2:
        warm.append(temperature)
    if (temperature >= -2) and (temperature < 2):
        slippery.append(temperature)
    if (temperature >= 2) and (temperature < 15):
        comfortable.append(temperature)

In [4]:
amt_cold = len(cold)
print('It was cold', amt_cold, 'times in Helsinki.')

It was cold 15 times in Helsinki.

In [5]:
amt_comfort = len(comfortable)
print('It was comfortable', amt_comfort, 'times in Helsinki.')

It was comfortable 59 times in Helsinki.

In [6]:
amt_warm = len(warm)
print('It was warm', amt_warm, 'times in Helsinki.')

It was warm 59 times in Helsinki.

# Solution for Exercise 2.6

In [7]:
def farh_to_celsius(temp_farh):
    """Converts Fahrenheit to Celsius"""
    temp_celsius = (temp_farh - 32) * 5/9
    return temp_celsius

In [8]:
farh_to_celsius(temp_farh=32)

0.0

In [9]:
farh_to_celsius(temp_farh=68)

20.0

In [10]:
farh_to_celsius(temp_farh=91)

32.77777777777778

In [11]:
farh_to_celsius(temp_farh=-17)

-27.22222222222222

# Solution for Exercise 2.7

In [12]:
def class_temp(temp_celsius):
    if temp_celsius < -2:
        return 0
    elif temp_celsius >= -2 and temp_celsius < 2:
        return 1
    elif temp_celsius >= 2 and temp_celsius < 15:
        return 2
    else:
        return 3

In [13]:
class_temp(temp_celsius=17)

3

In [14]:
class_temp(temp_celsius=2)

2

In [15]:
class_temp(temp_celsius=1.9)

1

In [16]:
class_temp(temp_celsius=-2)

1

# Solution for Exercise 3.1

## Problem 1

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("data/6153237444115dat.csv")

In [19]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

## Problem 2

In [20]:
data.shape
# 11694 rows

(11694, 33)

In [21]:
data.columns

Index(['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L',
       'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2',
       'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01',
       'PCP06', 'PCP24', 'PCPXX', 'SD'],
      dtype='object')

In [22]:
data.dtypes

USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

## Problem 3

In [23]:
data['TEMP'] = pd.to_numeric(data['TEMP'], errors = 'coerce')

In [24]:
data['TEMP'].mean()
print("TEMP Mean:", data['TEMP'].mean())

TEMP Mean: 52.24796852279531

In [25]:
data['MAX'] = pd.to_numeric(data['MAX'], errors = 'coerce')

In [26]:
data['MAX'].std()
print("MAX TEMP Standard Deviation:", data['MAX'].std())

MAX TEMP Standard Deviation: 10.307989094641968

In [27]:
data['USAF'] = pd.to_numeric(data['TEMP'], errors = 'coerce')

In [28]:
data['USAF'].nunique()
print("Number of Unique Stations:", data['USAF'].nunique())

Number of Unique Stations: 57

# Solution for Exercise 3.2

## Problem 1

In [29]:
selected = data[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']]
selected

       USAF  YR--MODAHRMN  TEMP  MAX  MIN
0      31.0  201705010000  31.0  NaN  ***
1      30.0  201705010020  30.0  NaN  ***
2      30.0  201705010050  30.0  NaN  ***
3      31.0  201705010100  31.0  NaN  ***
4      30.0  201705010120  30.0  NaN  ***
...     ...           ...   ...  ...  ...
11689  64.0  201708311900  64.0  NaN  ***
11690  64.0  201708312000  64.0  NaN  ***
11691  64.0  201708312100  64.0  NaN  ***
11692  64.0  201708312200  64.0  NaN  ***
11693  64.0  201708312300  64.0  NaN  ***

[11694 rows x 5 columns]

In [30]:
temp = data.loc[0:11694, ["TEMP"]]

In [31]:
cols_to_check = ["TEMP"]
temp_clean = temp.dropna(subset = cols_to_check)
temp_clean

       TEMP
0      31.0
1      30.0
2      30.0
3      31.0
4      30.0
...     ...
11689  64.0
11690  64.0
11691  64.0
11692  64.0
11693  64.0

[11691 rows x 1 columns]

## Problem 2

In [45]:
data["CELSIUS"] = 0.0
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD,CELSIUS
0,31.0,99999,201705010000,174,10,14,***,***,*,*,...,*****,984.1,NaN,***,*****,*****,*****,*****,35,0.0
1,30.0,99999,201705010020,180,10,***,4,***,*,*,...,29.74,******,NaN,***,*****,*****,*****,*****,**,0.0
2,30.0,99999,201705010050,190,10,***,4,***,*,*,...,29.74,******,NaN,***,*****,*****,*****,*****,**,0.0
3,31.0,99999,201705010100,188,12,16,***,***,*,*,...,*****,984.0,NaN,***,*****,*****,*****,*****,35,0.0
4,30.0,99999,201705010120,200,13,***,2,OBS,*,*,...,29.74,******,NaN,***,*****,*****,*****,*****,**,0.0

In [46]:
TempFahrenheit = selected['TEMP']
TempCelsius = (TempFahrenheit - 32) / 1.8
data["CELSIUS"] = TempCelsius

selected = data[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN', 'CELSIUS']]
selected

       USAF  YR--MODAHRMN  TEMP  MAX  MIN    CELSIUS
0      31.0  201705010000  31.0  NaN  ***  -0.555556
1      30.0  201705010020  30.0  NaN  ***  -1.111111
2      30.0  201705010050  30.0  NaN  ***  -1.111111
3      31.0  201705010100  31.0  NaN  ***  -0.555556
4      30.0  201705010120  30.0  NaN  ***  -1.111111
...     ...           ...   ...  ...  ...        ...
11689  64.0  201708311900  64.0  NaN  ***  17.777778
11690  64.0  201708312000  64.0  NaN  ***  17.777778
11691  64.0  201708312100  64.0  NaN  ***  17.777778
11692  64.0  201708312200  64.0  NaN  ***  17.777778
11693  64.0  201708312300  64.0  NaN  ***  17.777778

[11694 rows x 6 columns]

## Problem 3

In [65]:
data = pd.read_csv("data/6153237444115dat.csv")

In [66]:
data.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

In [84]:
selected = data[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']]
selected

        USAF  YR--MODAHRMN TEMP  MAX  MIN
0      28450  201705010000   31  ***  ***
1      28450  201705010020   30  ***  ***
2      28450  201705010050   30  ***  ***
3      28450  201705010100   31  ***  ***
4      28450  201705010120   30  ***  ***
...      ...           ...  ...  ...  ...
11689  29980  201708311900   64  ***  ***
11690  29980  201708312000   64  ***  ***
11691  29980  201708312100   64  ***  ***
11692  29980  201708312200   64  ***  ***
11693  29980  201708312300   64  ***  ***

[11694 rows x 5 columns]

In [86]:
selection_USAF1 = [29980]
kumpula = selected.loc[selected["USAF"].isin(selection_USAF1)]
kumpula

        USAF  YR--MODAHRMN TEMP  MAX  MIN
8770   29980  201705010000   37  ***  ***
8771   29980  201705010100   37  ***  ***
8772   29980  201705010200   37  ***  ***
8773   29980  201705010300   37  ***  ***
8774   29980  201705010400   39  ***  ***
...      ...           ...  ...  ...  ...
11689  29980  201708311900   64  ***  ***
11690  29980  201708312000   64  ***  ***
11691  29980  201708312100   64  ***  ***
11692  29980  201708312200   64  ***  ***
11693  29980  201708312300   64  ***  ***

[2924 rows x 5 columns]

In [99]:
kumpula.to_csv("Kumpula_temps_May_Aug_2017.csv", sep=',', float_format='%.2f')

In [100]:
selection_USAF2 = [28450]
rovaniemi = selected.loc[selected["USAF"].isin(selection_USAF2)]
rovaniemi

       USAF  YR--MODAHRMN TEMP  MAX  MIN
0     28450  201705010000   31  ***  ***
1     28450  201705010020   30  ***  ***
2     28450  201705010050   30  ***  ***
3     28450  201705010100   31  ***  ***
4     28450  201705010120   30  ***  ***
...     ...           ...  ...  ...  ...
8765  28450  201708312220   46  ***  ***
8766  28450  201708312250   46  ***  ***
8767  28450  201708312300   48  ***  ***
8768  28450  201708312320   46  ***  ***
8769  28450  201708312350   48  ***  ***

[8770 rows x 5 columns]

In [101]:
rovaniemi.to_csv("Rovaniemi_temps_May_Aug_2017.csv", sep=',', float_format='%.2f')