HOMEWORK 1 -
Heather Turcios

# Solution for Exercise 2.1

In [1]:
ice_cream_rating = 10
sleep_rating = 8
name = 'Heather'

In [2]:
happiness_rating = (ice_cream_rating + sleep_rating) / 2
happiness_rating

9.0

In [3]:
type(ice_cream_rating)

int

In [4]:
type(sleep_rating)

int

In [5]:
type(name)

str

No surprises for the types of the variables. Integers as they are 2 whole numbers and string is the name as there are no integers.

In [6]:
print('My name is', name, 'and I give eating ice cream a score of', ice_cream_rating, 'out of 10!')
print('My sleeping enjoyment rating is', sleep_rating, '/10!')
print('Based on the factors above, my happiness rating is', happiness_rating, 'of 10 or', happiness_rating / 10 * 100, '%')

My name is Heather and I give eating ice cream a score of 10 out of 10!
My sleeping enjoyment rating is 8 /10!
Based on the factors above, my happiness rating is 9.0 of 10 or 90.0 %

# Solution for Exercise 2.2

In [7]:
station_names = [
    "lighthouse",
    "Harmaja",
    "Suomenlinna aaltopoiju",
    "Kumpula",
    "Kaisaniemi",
]

In [8]:
opening_year = [
    "2003",
    "1989",
    "2016",
    "2005",
    "1844",
]

In [9]:
observation_stations = [
    station_names, opening_year,
]
observation_stations

[['lighthouse', 'Harmaja', 'Suomenlinna aaltopoiju', 'Kumpula', 'Kaisaniemi'],
 ['2003', '1989', '2016', '2005', '1844']]

In [10]:
station_names.append("Malmi airfield")
station_names.append("Vuosaari harbour")
station_names.append("Kaivopuisto")
station_names

['lighthouse',
 'Harmaja',
 'Suomenlinna aaltopoiju',
 'Kumpula',
 'Kaisaniemi',
 'Malmi airfield',
 'Vuosaari harbour',
 'Kaivopuisto']

In [11]:
opening_year.append("1937")
opening_year.append("2012")
opening_year.append("1904")
opening_year

['2003', '1989', '2016', '2005', '1844', '1937', '2012', '1904']

In [12]:
observation_stations = [
    station_names, 
    opening_year,
]
observation_stations

[['lighthouse',
  'Harmaja',
  'Suomenlinna aaltopoiju',
  'Kumpula',
  'Kaisaniemi',
  'Malmi airfield',
  'Vuosaari harbour',
  'Kaivopuisto'],
 ['2003', '1989', '2016', '2005', '1844', '1937', '2012', '1904']]

In [13]:
station_names.sort()
station_names

['Harmaja',
 'Kaisaniemi',
 'Kaivopuisto',
 'Kumpula',
 'Malmi airfield',
 'Suomenlinna aaltopoiju',
 'Vuosaari harbour',
 'lighthouse']

In [14]:
opening_year.sort()
opening_year

['1844', '1904', '1937', '1989', '2003', '2005', '2012', '2016']

The problem with the alphabetical list is that the lower case is after all the upper case. For observation_stations, it also lists all the names first then the year, it doesn't list them side by side.

In [36]:
station_names = [
    "lighthouse",
    "Harmaja",
    "Suomenlinna aaltopoiju",
    "Kumpula",
    "Kaisaniemi",
    "Malmi airfield",
    "Vuosaari harbour",
    "Kaivopuisto",
]

In [37]:
opening_year = [
    "2003",
    "1989",
    "2016",
    "2005",
    "1844",
    "1937",
    "2012",
    "1904",
]

In [39]:
station_and_year = zip(station_names, opening_year)
print(set(station_and_year))

{('Suomenlinna aaltopoiju', '2016'), ('Kaisaniemi', '1844'), ('Harmaja', '1989'), ('Vuosaari harbour', '2012'), ('lighthouse', '2003'), ('Kaivopuisto', '1904'), ('Malmi airfield', '1937'), ('Kumpula', '2005')}

# Solution for Exercise 2.3

In [3]:
month_list = ["January", "Feburary", "March", "April", "May", "June", 
              "July", "August", "September", "October", "November", "December"]

In [4]:
temp_cel_list = ["-3.5", "-4.5", "-1.0", "4.0", "10.0", "15.0",
                 "18.0", "16.0", "11.5", "6.0", "2.0", "-1.5"]

In [6]:
print('The average temperature in Helsinki in', month_list[0], 'is', temp_cel_list[0], 'Celsius')

The average temperature in Helsinki in January is -3.5 Celsius

In [7]:
print('The average temperature in Helsinki in', month_list[1], 'is', temp_cel_list[1], 'Celsius')

The average temperature in Helsinki in Feburary is -4.5 Celsius

In [8]:
print('The average temperature in Helsinki in', month_list[2], 'is', temp_cel_list[2], 'Celsius')

The average temperature in Helsinki in March is -1.0 Celsius

In [9]:
print('The average temperature in Helsinki in', month_list[3], 'is', temp_cel_list[3], 'Celsius')

The average temperature in Helsinki in April is 4.0 Celsius

In [10]:
print('The average temperature in Helsinki in', month_list[4], 'is', temp_cel_list[4], 'Celsius')

The average temperature in Helsinki in May is 10.0 Celsius

In [11]:
print('The average temperature in Helsinki in', month_list[5], 'is', temp_cel_list[5], 'Celsius')

The average temperature in Helsinki in June is 15.0 Celsius

In [12]:
print('The average temperature in Helsinki in', month_list[6], 'is', temp_cel_list[6], 'Celsius')

The average temperature in Helsinki in July is 18.0 Celsius

In [13]:
print('The average temperature in Helsinki in', month_list[7], 'is', temp_cel_list[7], 'Celsius')

The average temperature in Helsinki in August is 16.0 Celsius

In [14]:
print('The average temperature in Helsinki in', month_list[8], 'is', temp_cel_list[8], 'Celsius')

The average temperature in Helsinki in September is 11.5 Celsius

In [15]:
print('The average temperature in Helsinki in', month_list[9], 'is', temp_cel_list[9], 'Celsius')

The average temperature in Helsinki in October is 6.0 Celsius

In [16]:
print('The average temperature in Helsinki in', month_list[10], 'is', temp_cel_list[10], 'Celsius')

The average temperature in Helsinki in November is 2.0 Celsius

In [17]:
print('The average temperature in Helsinki in', month_list[11], 'is', temp_cel_list[11], 'Celsius')

The average temperature in Helsinki in December is -1.5 Celsius

# Solution for Exercise 2.4

In [30]:
stations=[]
for i in range(0,21,1):
    station=f"Station_{i}.txt"
    stations.append(station)
print(stations)

['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt', 'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt', 'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt', 'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt', 'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt', 'Station_20.txt']